* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.a {
  box-sizing: border-box;
  background-color: red;
  height: 50px;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: 800;
  cursor: pointer;
  border: none;
}
.a:hover {
  background-color: orange;
}
h1 {
  margin-bottom: 30px;
  font-family: monospace;
  text-align: center;
}
