.a {
  box-sizing: border-box;
  background-color: red;
  height: 50px;
  width: 100px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: 800;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
.b {
  box-sizing: border-box;
  background-color: #1ed760;
  height: 50px;
  width: 100px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: 800;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
